<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%= stylesheet_link_tag "application", :media => "all" , "dataturbolinks-track" => true %>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<%= stylesheet_link_tag "booksonrails" %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home/index"><img src="/assets/rails.png" width="30px" height="44px"  class="img-responsive" alt="Responsive image"> </a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/books">Books</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/home/index">Home</a>
								</li>
								<li>
									<a href="/myprofile">My Profile</a>
								</li>
								<li>
									<a href="/books/search">Find a book</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<%= form_tag books_path, :method => 'get', :class => "form-control"  do %>
							<%= text_field_tag :search, params[:search], placeholder:'Search' %>
						</div>
						<%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
						<% end %>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<% if user_signed_in? %>
								<div>
									You are signed in as... <%= current_user.email %> <strong> Not you? (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
%>)</strong>
								</div>
								<% else %>
							<li>
								<%= link_to 'Register', new_user_registration_path %>
							</li>
							<li>
								<%= link_to 'Sign in', new_user_session_path %>
							</li>
							<% end %>
							</li>

						</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container">

			<div class="row">

				<div class="col-md-9">

					<p class="notice">
						<%= notice %>
					</p>

					<p class="alert">
						<%= alert %>
					</p>
					<%= yield %>
				</div>

			</div>
			<br />
			<br />
			<footer>
				<h6 class="footertext">&copy; BooksOnRails &trade; 2014</h6>
			</footer>
		</div>
		<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
		<script src="/assets/dropdown.js?body=1" type="text/javascript"></script>
	</body>
</html>
